# MACHINE LEARNING END TERM PRACTICAL
# VAIBHAV SARAN 18EJICS169

In [1]:
a=[43,21,25,42,57,59]
b=[99,76,79,75,87,81]

In [3]:
from prettytable import PrettyTable # used to display output in proper format

In [4]:
y=PrettyTable()

In [5]:
Sum_y=0
Sum_x=0
for i,j in zip(a,b):
    Sum_y+=+j
    Sum_x+=+i
y_mean=round(Sum_y/len(b),2)
x_mean=round(Sum_x/len(a),2)
print(y_mean)
print(x_mean)

82.83
41.17

In [6]:
y.field_names=["Age(x)", "Gulcose level(y)", "XiYi", "Xi2", "y_mean*i", 'x_mean*i']
for i,j in zip(a,b):
    y.add_row([(i),(j), (i*j), (i**2), (y_mean*i), (x_mean*i)])

In [7]:
print(y)

+--------+------------------+------+------+--------------------+--------------------+
| Age(x) | Gulcose level(y) | XiYi | Xi2  |      y_mean*i      |      x_mean*i      |
+--------+------------------+------+------+--------------------+--------------------+
|   43   |        99        | 4257 | 1849 |      3561.69       | 1770.3100000000002 |
|   21   |        76        | 1596 | 441  |      1739.43       |       864.57       |
|   25   |        79        | 1975 | 625  |      2070.75       |      1029.25       |
|   42   |        75        | 3150 | 1764 |      3478.86       |      1729.14       |
|   57   |        87        | 4959 | 3249 | 4721.3099999999995 |      2346.69       |
|   59   |        81        | 4779 | 3481 |      4886.97       |      2429.03       |
+--------+------------------+------+------+--------------------+--------------------+

In [8]:
sum_xiyi=0
sum_ymeanxi=0
sum_xi2=0
sum_xmeanxi=0
for i,j in zip(a,b):
    sum_xiyi=sum_xiyi+(i*j)
    sum_ymeanxi=sum_ymeanxi+(y_mean*i)
    sum_xi2=sum_xi2+(i**2)
    sum_xmeanxi=sum_xmeanxi+(x_mean*i)
print(sum_xiyi)
print(sum_ymeanxi)
print(sum_xi2)
print(sum_xmeanxi)

20716
20459.01
11409
10168.990000000002

In [9]:
m = round((sum_xiyi-sum_ymeanxi)/(sum_xi2-sum_xmeanxi),2)

In [10]:
print(m)

0.21

In [11]:
c = round(y_mean-(m*x_mean),2)

In [12]:
print(c)

74.18

### According to question for x= 55 we need to find y

### We find it using y = mx +c

In [13]:
y_new= m*55+c
print(y_new)

85.73