# Vaibhav Saran 18EJICS169 ML Lab Practical 2

In [2]:
import numpy as np
import pandas as pd

In [3]:
dict = {
        'Citations':['some','many','some','many','many'],
        'Size':['Small','Big','Big','Medium','Small'],
        'Available in library':['No','No','Always','No','No'],
        'Price':['affordable','expensive','expensive','expensive','affordable'],
        'Editions':['many','one','few','many','many'],
        'Buy':['NO','YES','NO','YES','YES']
        }
df = pd.DataFrame(dict)

In [4]:
df

  Citations    Size Available in library       Price Editions  Buy
0      some   Small                   No  affordable     many   NO
1      many     Big                   No   expensive      one  YES
2      some     Big               Always   expensive      few   NO
3      many  Medium                   No   expensive     many  YES
4      many   Small                   No  affordable     many  YES

#### 1. How many concepts are possible for this instances space?

In [5]:
data = {"Attribute":[],"Values":[],"Count":[]}
for i in df.columns:
    data["Attribute"].append(i)
    data["Values"].append(df[i].values)
    data["Count"].append(len(df[i].values))
pd.DataFrame(data)

,Attribute,Values,Count
0,Citations,"[some, many, some, many, many]",5
1,Size,"[Small, Big, Big, Medium, Small]",5
2,Available in library,"[No, No, Always, No, No]",5
3,Price,"[affordable, expensive, expensive, expensive, ...",5
4,Editions,"[many, one, few, many, many]",5
5,Buy,"[NO, YES, NO, YES, YES]",5

#### 2. How many hypotheses can be expressed by the hypothesis language?

In [7]:
len(df)

5

#### 3: Implement and Demonstrate Find -S Algorithm for finding the most specific hypothesis based on a given training data samples. Read the training data from .CSV file.

In [9]:
a = np.array(df)
print("\n The initial value of hypothesis: ")
hypothesis = ['0'] * len(df)
print(hypothesis)
for j in range(0,len(df)):
        hypothesis[j] = a[0][j]


print("\n Find S: Finding a Maximally Specific Hypothesis\n")

for i in range(0,len(a)):
    if a[i][len(df)]=='Yes':
            for j in range(0,len(df)):
                if a[i][j]!=hypothesis[j]:
                    hypothesis[j]='?'
                else :
                    hypothesis[j]= a[i][j] 
    print(" For Training Example No :{0} the hypothesis is ".format(i),hypothesis)
                
print("\n The Maximally Specific Hypothesis for a given Training Examples :\n")
print(hypothesis)

 The initial value of hypothesis:
['0', '0', '0', '0', '0']

 Find S: Finding a Maximally Specific Hypothesis

 For Training Example No :0 the hypothesis is  ['some', 'Small', 'No', 'affordable', 'many']
 For Training Example No :1 the hypothesis is  ['some', 'Small', 'No', 'affordable', 'many']
 For Training Example No :2 the hypothesis is  ['some', 'Small', 'No', 'affordable', 'many']
 For Training Example No :3 the hypothesis is  ['some', 'Small', 'No', 'affordable', 'many']
 For Training Example No :4 the hypothesis is  ['some', 'Small', 'No', 'affordable', 'many']

 The Maximally Specific Hypothesis for a given Training Examples :

['some', 'Small', 'No', 'affordable', 'many']